body{
    text-align:center;

}
.btn{
    height:100px;
    width:100px;
    border-radius:20%;
    border:6px solid black;
    margin:10px;
}
.btn-container{
    display:flex;
    justify-content:center;
}
.yellow{
    background-color: #f99b45;
}
.red{
    background-color:  #c93c67;
}
.green{
    background-color: #6fdce4;
}
.purple{
    background-color: #63aac0;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}